body {
  display: block;
  margin: 20px auto;
  padding: 30px 30px 0px 90px;
  padding-right: 40%;
}

li:first-letter {
    text-transform: capitalize;
  }

.border {
  margin: 0 auto;
  display: block;
  padding: 30px;
  background-color: #f9f9f9;
}



.p3{
padding-top: 10px;
}
.p2 {
  font-size: 12px;
  padding: 0px;
}


.card-title {
  color: #5a6275;
  font-size: 46px;
  font-family: "Bebas Neue", cursive;
  text-shadow: 0px 1px 3px #b1abab;
}
.city {
  color: #5a6275;
  font-size: 46px;
  font-family: "Bebas Neue", cursive;
  text-shadow: 0px 2px 3px #b1abab;
}
.card-group {
  margin: 0 auto;
  display: block;
}
.card-text {
  font-size: 15px;
  display: block;
  position: absolute;
}
.card {
  display: block;
  padding: 20px;
  color: darkgray;
  border-width: 5px;
  margin: 15px auto;
}

.card-body{
  margin: 30 auto;
 
}
.form-control {
  border-color: #006ec5;
  border-width: 2.2px;
  padding: 5px;
}

.row {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  width: 1%; 
}


.weather-temperature .units {
  position: relative;
 
  font-size: 18px;
  top: -39px;
  left: 45px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast-row {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  text-align: center;
}